.main-container {
  margin-bottom: 25px;
}

.head {
  display: flex;
  border-bottom: 2px solid #000000;
  padding: 10px 0px;
}

.p-list {
  margin-right: auto;
}

.btn {
  margin: 0 10px;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-right: 6px;
}
